.footer
{
  background-color:#26272b;
  padding:20px 20px 10px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.footer hr.small
{
  margin:20px 0
}
.footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.footer a
{
  color:#737373;
}
.footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.footer .social-icons
{
  text-align:right
}
.mainsite
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.copyright
{
  margin:0;
  text-align:center
}

@media (max-width:991px)
{
  .footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .footer
  {
    padding-bottom:0
  }
  .footer .copyright-text,.footer .social-icons
  {
    text-align:center
  }
}
