html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  --bg: #121212;
  --accent: #fa5145;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
