.tabs {
  display: flex;
  position: relative;
  background-color: #bea6a1;
  border-radius: 100px;
  width: clamp(50%, 300px, 100%);
  margin: 1em 0;
  --padding: 1rem;
}

.tabs > div:not(.indicator) {
  font-size: 1rem;
  width: 50%;
  text-align: center;
  padding: var(--padding) calc(2 * var(--padding));
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.tabs > .active {
  color: white;
  z-index: 2;
}

.indicator {
  position: absolute;
  width: calc(50% - var(--padding));
  height: 85%;
  background: var(--accent);
  top: 50%;
  left: calc(0.5 * var(--padding));
  border-radius: inherit;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  transform: translateY(-50%);
  transition: all 300ms ease-in-out;
}

.indicatorRight {
  left: calc(50% + 0.5 * var(--padding));
}

.tabBody {
  position: relative;
  border-top: 1px solid #ddd;
  overflow: hidden;
  height: 350px;
}
